<div class="container-fluid py-4" style="max-width: 900px;">
  <div class="mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item"><%= link_to "Templates", templates_path %></li>
        <li class="breadcrumb-item active" aria-current="page">New Template</li>
      </ol>
    </nav>
    <h1 class="fs-2 mb-0">Create New Template</h1>
  </div>

  <div class="card border">
    <div class="card-body">
      <%= render "form", template: @template %>
    </div>
  </div>
</div>
